<% frends.each do |frend| %>
  <% unless frend.id == current_user.id%>  
  <% currentUserEntry = Entry.where(user_id: current_user.id)%>
  <% userEntry = Entry.where(user_id: frend.id)%>  
  <div class="d-flex flex-row justify-content-between left_frend py-1">
    
   <%= link_to user_path(frend.id) do %>
    <%if frend.avatar? %>
      <img src="<%= frend.avatar %>" class = "icon_image">
    <%else%>
      <%= image_tag 'default.jpg',class: 'icon_image' %>
    <%end%>
  <%end%>

 
    <% @isRoom = nil %>
    <% currentUserEntry.each do |cu| %>
      <% userEntry.each do |u|%>
        
        <% if cu.room_id == u.room_id then %>
          <% @isRoom = true%>
          <% roomId = cu.room_id%>

          <%= link_to(room_path(roomId), class: 'left_frend_form room_form text-center') do %>
            <p class="mb-0 h-100 text-over">
              <%=frend.name%>
            </p>          
          <% end %>
        <%end%>
        
      <%end%>
    <%end%>
      <%unless @isRoom == true %>
        
          <%= form_for @room_new, url: rooms_path, html:{name: "room_form",class: "room_form",id: "room_create_form"} do |f| %>
              <%= fields_for @entry_new do |e| %>
                 <%= e.hidden_field :user_id, :value=> frend.id %>
              <% end %>
              <a href='#' class="left_frend_form text-center" onclick="document.getElementById('room_create_form').submit();" >
                <p class="mb-0 h-100 text-over ">
                  <%=frend.name%>
                </p>
              </a>
          <% end %>           
      <%end%>
  </div>
  <%end%>  
<% end %>
