<% anotherEntries.each do |e| %>
  <%unless e.user_id == current_user.id %>
    
    <div class="p-1  border _index-block d-flex justify-content-between">
      
        <div class="_index-left mr-2">
          <%if e.user.avatar? %>
            <img src="<%=e.user.avatar.url%>" class = "icon_image user ">
          <%else%>
            <%= image_tag 'default.jpg',class: 'icon_image user' %>
          <%end%>         
        </div>
        <div class="_index-center py-1">
          <%= link_to room_path(e.room.id) do %>
            <p class="mb-0 text-over font-smaller mt-2">
              <%= e.user.name %>
            </p>
            <p style="font-size:small;" class="mb-0 mt-2 h-100"> 
              <% if e.room.messages.present?%>
              <!-- 最新メッセージ内容の最初の7文字を表示する -->
                <% dm = Message.find_by(id:e.room.message_ids.last ).content %>
                <%= truncate(dm, length: 16) %>
              <% end%>          
            </p>
          <%end%>
        </div>
        <div class="_index-right">
          <div style="color: #C0C0C0; font-size:11px;"><%= e.updated_at.strftime("%Y/%m/%d") %></div>
          <div class="text-right mt-3"> 
            <%= link_to room_path(e.room.id), method: :delete do %>
              <i class="far fa-trash-alt"></i>
            <% end %>           
          </div>
        </div>
      
    </div>  
    
  <%end%>
<% end %>    