
<div class="tabs-menu p-2 text-center">
  <a href="#tabs-1" class="d-block fa-size tab"><i class="fas fa-user"></i></a>
  <a href="#tabs-2" class="d-block mt-4 fa-size tab"><i class="far fa-comment-dots"></i></a>
  <%= link_to users_path, class:"d-block mt-4 fa-size" do %>
    <i class="fas fa-user-plus"></i>
  <% end %>   
</div>
 

<div class="dropup text-center">

	<a href="#" class="btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">
    <i class="fas fa-bars"></i>
	</a>    
  <div class="dropdown-menu">
    <ul>
      <li class="dropdown-item"><%= link_to 'Users', users_path%></li>
      <li class="dropdown-item"><%= link_to 'My profile', user_path(current_user) %></li>
      <li class="dropdown-item"><%=link_to '友達一覧',frends_user_path(current_user)%></li>
      <li class="dropdown-item"><%=link_to 'フォローきてるよ',followers_user_path(current_user)%></li>
      <li class="dropdown-item"><%=link_to 'トークルーム一覧',rooms_path%></li>
      <li class="dropdown-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>         
    </ul>
  </div>
</div>   




